@theme {
  --shadow-small: 0px 0px 5px 1px rgba(69, 50, 39, 0.24);
  --shadow-medium: 0px 0px 8px 3px rgba(69, 50, 39, 0.24);

  --drop-shadow-small: 0px 0px 4px rgba(69, 50, 39, 0.24);
  --drop-shadow-medium: 0px 0px 8px rgba(69, 50, 39, 0.24);
}
