@theme {
  --text-xxs: 10px;
  --text-xxs--line-height: 14px;

  --text-xs: 12px;
  --text-xs--line-height: 16px;

  --text-sm: 14px;
  --text-sm--line-height: 24px;

  --text-base: 16px;
  --text-base--line-height: 24px;

  --text-lg: 18px;
  --text-lg--line-height: 24px;

  --text-xl: 20px;
  --text-xl--line-height: 24px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-3xl: 30px;
  --text-3xl--line-height: 48px;

  --text-4xl: 36px;
  --text-4xl--line-height: 48px;

  --text-5xl: 48px;
  --text-5xl--line-height: 64px;

  --text-6xl: 60px;
  --text-6xl--line-height: 96px;
}
