@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Surface colors */
    --surface-1: #e7d9be;
    --surface-2: #ddc8a2;
    --surface-3: #c7b492;
    --surface-4: #b1a082;
    --surface-5: #9b8c71;

    /* Palettes */
    --brand-1: #c6c4c3; /* Backgrounds */
    --brand-2: #c4bbb6; /* Backgrounds */
    --brand-3: #c2ab9f; /* Interactive components */
    --brand-4: #bf9c88; /* Interactive components */
    --brand-5: #ba8c71; /* Interactive components */
    --brand-6: #af7c5f; /* Borders and separator */
    --brand-7: #a26844; /* Borders and separator */
    --brand-8: #934a16; /* Borders and separator */
    --brand-9: #944f21; /* Solid colors */
    --brand-10: #873f03; /* Solid colors */
    --brand-11: #491400; /* Accessible text */
    --brand-12: #453227; /* Accessible text */

    --gray-1: #c5c3c3;
    --gray-2: #bdbcbb;
    --gray-3: #b1afae;
    --gray-4: #a5a4a3;
    --gray-5: #9b9998;
    --gray-6: #908e8d;
    --gray-7: #838180;
    --gray-8: #6f6d6c;
    --gray-9: #444140;
    --gray-10: #3b3837;
    --gray-11: #242221;
    --gray-12: #211f1e;

    --green-1: #fbfefc;
    --green-2: #f4fbf6;
    --green-3: #e6f6eb;
    --green-4: #d6f1df;
    --green-5: #c4e8d1;
    --green-6: #adddc0;
    --green-7: #8eceaa;
    --green-8: #5bb98b;
    --green-9: #30a46c;
    --green-10: #2b9a66;
    --green-11: #218358;
    --green-12: #193b2d;

    --red-1: #fffcfc;
    --red-2: #fff7f7;
    --red-3: #feebec;
    --red-4: #ffdbdc;
    --red-5: #ffcdce;
    --red-6: #fdbdbe;
    --red-7: #f4a9aa;
    --red-8: #eb8e90;
    --red-9: #e5484d;
    --red-10: #dc3e42;
    --red-11: #ce2c31;
    --red-12: #641723;

    --yellow-1: #fdfdf9;
    --yellow-2: #fefce9;
    --yellow-3: #fffab8;
    --yellow-4: #fff394;
    --yellow-5: #ffe770;
    --yellow-6: #f3d768;
    --yellow-7: #e4c767;
    --yellow-8: #d5ae39;
    --yellow-9: #ffe629;
    --yellow-10: #ffdc00;
    --yellow-11: #9e6c00;
    --yellow-12: #473b1f;

    --blue-1: #fbfdff;
    --blue-2: #f4faff;
    --blue-3: #e6f4fe;
    --blue-4: #d5efff;
    --blue-5: #c2e5ff;
    --blue-6: #acd8fc;
    --blue-7: #8ec8f6;
    --blue-8: #5eb1ef;
    --blue-9: #0090ff;
    --blue-10: #0588f0;
    --blue-11: #0d74ce;
    --blue-12: #113264;

    /* Semantics */
    --foreground: var(--brand-12);
    --foreground-muted: var(--brand-6);

    --primary: var(--brand-9);
    --primary-foreground: var(--surface-1);
    --primary-hover: var(--brand-10);

    --muted: var(--brand-4);
    --muted-foreground: var(--brand-12);
    --muted-hover: var(--brand-5);

    --success: var(--green-9);
    --success-foreground: var(--green-3);
    --success-hover: var(--green-10);

    --error: var(--red-9);
    --error-foreground: var(--red-3);
    --error-hover: var(--red-10);

    --warning: var(--yellow-9);
    --warning-foreground: var(--yellow-3);
    --warning-hover: var(--yellow-10);

    --info: var(--blue-9);
    --info-foreground: var(--blue-3);
    --info-hover: var(--blue-10);

    --border: var(--brand-6);
    --border-hover: var(--brand-8);

    --border-muted: var(--brand-4);
    --border-muted-hover: var(--brand-5);

    --border-success: var(--green-6);
    --border-success-hover: var(--green-8);

    --border-error: var(--red-6);
    --border-error-hover: var(--red-8);

    --border-info: var(--blue-6);
    --border-info-hover: var(--blue-8);

    --border-warning: var(--yellow-6);
    --border-warning-hover: var(--yellow-8);

    --ring: var(--brand-8);

    --box-shadow-sm: 0px 0px 5px 1px rgba(69, 50, 39, 0.24);
    --box-shadow-md: 0px 0px 8px 3px rgba(69, 50, 39, 0.24);

    --radius: 0.125rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply relative bg-surface-1 text-foreground selection:bg-primary selection:text-primary-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;

    &.yarl__no_scroll {
      @apply h-screen;
    }

    .yarl__root {
      .yarl__toolbar {
        --yarl__toolbar_padding: 12px;
      }

      .yarl__container {
        @apply bg-black/70 backdrop-blur-[1px];
      }

      .yarl__slide {
        @apply p-3;
      }
    }
  }
}

.bg-striped {
  background: repeating-linear-gradient(
    -45deg,
    var(--red-9) 0px,
    var(--red-9) 3px,
    var(--surface-1) 3px,
    var(--surface-1) 6px
  );
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  @apply min-w-48;

  .mapboxgl-popup-content {
    @apply px-4 py-2 relative bg-surface-1 rounded;
  }

  .mapboxgl-popup-tip {
    @apply border-t-surface-1;
  }
}
